<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
    </head>
</html>
<body>
    <h1>Login</h1>
    <div class="row">
        <div class="col-md-4" style="background-color: red;">
            asdz
        </div>
        <div class="col-md-4" style="background-color: green;">
            asdz
        </div>
    </div>
    
    <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
</body>