<!DOCTYPE html>
<html lang="en">
<head>
	<title>Painel Usuario PlayFilms</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="..//static/assets/vendor-user/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="..//static/assets/fonts-user/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="..//static/assets/fonts-user/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="..//static/assets/vendor-user/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="..//static/assets/vendor-user/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="..//static/assets/vendor-user/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="..//static/assets/vendor-user/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="..//static/assets/vendor-user/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="..//static/css/css-login-user/util.css">
	<link rel="stylesheet" type="text/css" href="..//static/css/css-login-user/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('../static/assets/images-user/bg-01.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span>                	
                </span>
                   <div class="header"><img src="../static/assets/images-user/sem_fundo.png" alt="logo" width="347" height="220" /></div> 
				<form class="login100-form validate-form p-b-33 p-t-5">

					<div class="wrap-input100 validate-input" data-validate = "Digite seu e-mail corretamente...">
						<input class="input100" type="text" name="username" placeholder="Digite seu e-mail...">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Digite sua senha corretamente...">
						<input class="input100" type="password" name="pass" placeholder="Digite sua senha...">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn">
							Autenticar
						</button>

                    <button class="login100-form-btn">
							Criar Conta
						</button>
                        
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="..//static/assets/vendor-user/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="..//static/assets/vendor-user/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="..//static/assets/vendor-user/bootstrap/js/popper.js"></script>
	<script src="..//static/assets/vendor-user/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="..//static/assets/vendor-user/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="..//static/assets/vendor-user/daterangepicker/moment.min.js"></script>
	<script src="..//static/assets/vendor-user/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="..//static/assets/vendor-user/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="..//static/js/js-user/main.js"></script>

</body>
</html>